
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.line {
    background-color: green;
    height: 5px;
    border-width: 0;
    width: 50%;
}

h2 {
    text-indent: 20px;
}

img {
    width: 50%;
}