
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a h2 {
    text-indent: 20px;
}

.line {
    background-color: green;
    height: 5px;
    border-width: 0;
    width: 50%;
}

.recipe-line {
    background-color: yellowgreen;
}

img {
    width: 50%;
}

ol p {
    font-weight: bold;
    font-style: italic;
}

ol li {
    margin-top: 10px;
}